* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.parent {
  line-height: 1.6;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background: #003580;
  color: #fff;
  padding: 10px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
  flex: 1; /* Dodajemo flex: 1 za logo */
}

header nav {
  flex: 2; /* Dodajemo flex: 2 za navigaciju */
}

header nav ul {
  display: flex;
  justify-content: center; /* Postavljanje na sredinu */
  list-style: none;
  margin: 0; /* Uklanjanje default margine */
  padding: 0; /* Uklanjanje default paddinga */
}

header nav ul li {
  margin: 0 10px; /* Margina između stavki u navigaciji */
}

header nav ul li a,
header nav ul li button {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

header nav ul li button:hover,
header nav ul li a:hover {
  text-decoration: underline;
}

.hero {
  background: url('https://www.savills.co.uk/_images/adobestock-539646437.jpg') no-repeat center center/cover;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

select {
  appearance: none; /* Sakriva uobičajeni prikaz strelice u padajućem meniju */
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 50px; /* Prilagodite širinu po potrebi */
}

/* Custom strelica */
select::after {
  content: '\25BC'; /* Unicode karakter za strelicu nadole */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.search-form .input-icon {
  position: relative;
  display: inline-block;
}

.search-form .input-icon mat-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: black;
}

.search-form .input-icon input {
  padding-left: 40px; /* Adjust according to the icon size */
}

.search-form input,
.search-form button {
  padding: 10px;
  font-size: 16px;
}

.search-form button {
  background: #003580;
  color: #fff;
  border: none;
  cursor: pointer;
}

.filter-and-cards {
  display: flex;
}

.filter {
  flex: 1; /* Koristi 1/3 širine ekrana */
}

.feature-cards {
  flex: 2; /* Koristi 2/3 širine ekrana */
}

.filter, .feature-cards {
  display: flex;
  flex-direction: column; /* Postavlja raspored elemenata jedan ispod drugog */
}

.features {
  padding: 50px 0;
}

.features h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 32px;
}

.feature-cards {
  display: flex;
  justify-content: space-around;
  flex-direction: column; /* Postavlja raspored elemenata jedan ispod drugog */
  flex-wrap: wrap;
  gap: 20px;
}

.feature-cards .card {
  flex: 1; /* Kartice će zauzimati jednaku širinu */
  width: 100%; /* Kartice će zauzimati punu širinu ekrana */
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.feature-cards .card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

footer {
  background: #003580;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 50px;
}

/* Novi CSS za stilizaciju navigacije */
header nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

header nav ul li {
  margin-right: 20px;
  color: #fff;
}

header nav ul li button,
header nav ul li a {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  padding: 5px 10px;
}

header nav ul li button:hover,
header nav ul li a:hover {
  text-decoration: underline;
}

/* Stilizacija dugmeta */
button {
  background-color: #003580; /* Postavljanje boje pozadine na plavu */
  color: white; /* Postavljanje boje teksta na belu */
  padding: 10px 20px; /* Postavljanje unutrašnjeg prostora dugmeta */
  border: none; /* Uklanjanje ivica dugmeta */
  border-radius: 5px; /* Dodavanje zaobljenih ivica */
  cursor: pointer; /* Promena kursora na pokazivač prilikom prelaska preko dugmeta */
  width: 150px; /* Postavljanje širine dugmeta */
  margin-bottom: 10px; /* Dodavanje prostora ispod dugmeta */
}

/* Promena stila dugmeta kada je pritisnuto */
button:active {
  background-color: darkblue; /* Promena boje pozadine kada je dugme pritisnuto */
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
}

.card-header {
  background-color: #f9f9f9;
  padding: 10px;
}

.card-body {
  display: flex;
}

.card-body .image {
  flex: 1;
}

.card-body .image img {
  width: 100%;
  height: auto;
}

.card-body .details {
  flex: 2;
  padding: 10px;
}

.card-footer {
  background-color: #f9f9f9;
  padding: 10px;
  text-align: right;
}

input[type="text"] {
  width: 150px; /* Postavljanje širine input polja da odgovara dugmićima */
  padding: 10px; /* Dodavanje unutrašnjeg prostora */
  font-size: 16px; /* Postavljanje veličine fonta */
  border: 1px solid #ccc; /* Dodavanje ivice */
  border-radius: 5px; /* Zaobljavanje ivica */
  margin-bottom: 10px; /* Dodavanje prostora ispod */
}

input[type="text"]:focus {
  border-color: #003580; /* Promena boje ivice prilikom fokusa */
  outline: none; /* Uklanjanje default outline */
}