<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje Tipa Objekta </h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Ažuriranje Tipa Objekta: {{data.tipObjektaNaziv}} </h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje Tipa Objekta: {{data.tipObjektaNaziv}} </h3>
    <mat-icon id="iconPerson">domain_add</mat-icon>

    <form class="mat-dialog-content" #formControl="ngForm">
       <div class="form">
        <mat-form-field>
            <input matInput placeholder="Tip Objekta" name="ulogaNaziv" [disabled]="flag==3" [(ngModel)]="data.tipObjektaNaziv" required />
        </mat-form-field>
       </div>
    </form>

    <div class="mat-dialog-actions">
        <button *ngIf="flag == 1" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="add()">Sačuvaj</button>
        <button matButton *ngIf="flag == 2" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="update()">Modifikuj</button>
        <button matButton *ngIf="flag == 3" mat-dialog-close="1" (click)="delete()">Obriši</button>
        <button matButton (click)="cancel()">Poništi</button>
    </div>
</div>


