<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje opreme </h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Ažuriranje opreme: {{data.opremaNaziv}} </h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje opreme: {{data.opremaNaziv}} </h3>
    <mat-icon id="iconPerson">apartment</mat-icon>
    <br>
    <form class="mat-dialog-content" #formControl="ngForm">
       <div class="form">
        <mat-form-field>
            <input matInput placeholder="Naziv" name="opremaNaziv" [disabled]="flag==3" [(ngModel)]="data.opremaNaziv" required />
        </mat-form-field>
       </div>
       <div class="form">
        <mat-form-field class="form-field">
          <mat-select placeholder="Objekat" name="objekat" [(ngModel)]="data.objekatId" [disabled]="flag==3">
            <mat-option *ngFor="let objekat of objekti" [value]="objekat.objekatId">
              {{objekat.objekatNaziv}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>

    <div class="mat-dialog-actions">
        <button *ngIf="flag == 1" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="add()">Sačuvaj</button>
        <button matButton *ngIf="flag == 2" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="update()">Modifikuj</button>
        <button matButton *ngIf="flag == 3" mat-dialog-close="1" (click)="delete()">Obriši</button>
        <button matButton (click)="cancel()">Poništi</button>
    </div>
</div>


